<h1><%= anime.name %></h1>
<ul>
    <li>
      <p>Name</p>
      <%= anime.name %>
    </li>
    <li>
      <p>Sinopse</p>
      <%= anime.sinopse %>
    </li>
    <li>
      <p>Score</p>
      <%= anime.score %>
    </li>
    <li>
      <p>Ratings</p>
      <%= anime.ratings %>
    </li>
    <li>
      <p>Season</p>
      <%= anime.season %>
    </li>
    <li>
        <p>Your rating</p>
        <form action="" method="post">
          <select name="score" id="select-score">
            <option value="0">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
          </select>
          <button>Rate</button>
        </form>
      </li>
</ul>

<button onclick="location.href='/'">Back</button>

<form action="/logout" method="get">
  <button type="submit">Log out</button>
</form>